.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #121212; /* Or any color you prefer */
  }
  
  .signup-box {
    padding: 40px;
    background: #333; /* Or any color you prefer */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .signup-header {
    margin-bottom: 20px;
    color: #fff;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-label {
    color: #fff;
    margin-bottom: 10px;
  }
  
  .signup-label input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  
  .signup-button {
    background-color: #7289DA; /* Use a color that matches your design */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #5b6eae;
  }
  .signup-link {
    color: #7289DA; /* Use a color that matches your design */
    text-decoration: none; /* Removes underline from links */
  }
  
  .signup-link:hover {
    text-decoration: underline; /* Adds underline on hover */
  }
  
  